.flex-container {
  display:flex;
  justify-content: center;
  background-color: white;
}

.prostr
{align-items:center;
 height: 40px;}

.element{
  background: rgb(196, 68, 255);
  width: 100px;
  height: 100px;
  }
.block1 { width: 100;
  align-self: flex-start;
  justify-content: space-around;
}

.block2 {

display: flex;
   align-content: space-around;
   flex-wrap: wrap;
}

.block3 {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:space-between;
  margin-left: 10px ;
}
.block4 {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:space-between;
 
}
.block5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  
}

