
.лопасти {
  width: 240px;
  height: 245px;
  background-color: #DAA520;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

  .домик {
    height: 220px; 
    width: 230px; 
    margin: 35px 0px 0px 0;
    background: #FF69B4;
    position: relative;
    }
    .домик:before {
        content:"";
    height: 0px; 
    width:0px;
    position:absolute; 
    left: 0; 
    top: -108px;
    border-bottom: 170px solid #FF69B4;
    border-left: 115px solid transparent;
    border-right: 115px solid transparent;
    }
    .подставка {
        width: 300px;
        height: 70px;
        background: #FF69B4;
    }